<% provide(:title, "Coffee list") %>

<div class="row">
	<h1>一覧</h1>

	<div class="registration_btn">
		<%= link_to 'コーヒー登録', new_bean_path, class: 'btn btn-primary' %>
	</div>
	<% @beans.each do |bean| %>
		<div class="col-md-3">
			<div class="card">
				<div class="card-img-top">
					<%= image_tag bean.picture.url if bean.picture? %>
				</div>
				<b><%= link_to bean.name, bean %></b>
			</div>
		</div>
	<% end %>
</div>
