#logo {
	float: left;
	margin-right: 10px;
	margin-left: -100px;
	font-size: 1.7em;
	color: #556b2f;
	text-transform: lowercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;

	&:hover {
		color: #556b2f;
		text-decoration: none;
	}
}
